
.App {
    text-align: center;
}

body.dark-mode .header {
    background-color: #333;
    border-bottom: 1px solid #555;
}

body.dark-mode .header .widgets .widget,
body.dark-mode .header .social-sharing a {
    color: #ffffff;
}
